

html, body{
  height: 100%;
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
}

  #hogwartsBackground{
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1551269901-5c5e14c25df7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=150");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    position: absolute;

  }

  #formWrapper {
    width:90%;
    max-width: 80%;
    max-height: 80%;
    margin: 0px auto;
    background-size: 100%;
    background-color: rgba(0,0,0,0.6);
    overflow-y: scroll;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1, #formWrapper > form{
    color:white;
    padding: 40px;
    font-family: 'Jolly Lodger';
    font-size: 26px;
    letter-spacing: 1px;
  }

  #formWrapper > form > button, select{
    font-family: 'Jolly Lodger';
    font-size: 22px;
    letter-spacing: 1px;
    padding:0px 6px;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid white;
    color: #fff;
  }
  
  #formWrapper > form > button[type="submit"]{
    width:50%;
    display: block;
    margin:0px auto;
    font-size: 44px;
    text-decoration: none;
    text-align: center;
    height: auto;
    background-color: rgba(139, 42, 0, 0.66);
  }


  #formWrapper > form > button[type="submit"]:hover{
    background-color: rgba(139, 42, 0);
  }


  h1{ 
    text-align: center;
    font-size: 50px;
    margin-bottom: -20px;
  }




* {cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;} 

#hiddenPlayer { 
  z-index: -1111;
  display: none;
  height: 0px;
}




#hallBackground{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://pm1.narvii.com/6842/7cdecddeb84a4d589ed629d58158237b1a56a76cv2_hq.jpg");
  background-position: center center;
  background-origin: content-box;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
}

#hallWrapper {
  max-width: 50%;
  min-width: 30%;
  max-height: 80%;
  min-height: 80%;
  margin:auto;
  background-color: rgba(0,0,0,0.70);
  color: white;
  z-index: 1;
}

#showHouse {
  width: 100%;
  height: 100%;
  position: absolute;

}




.weatherContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("https://pm1.narvii.com/6842/7cdecddeb84a4d589ed629d58158237b1a56a76cv2_hq.jpg");
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.clear-day, .partly-cloudy-day, .cloudy, .rain, .sleet, .snow, .wind, .fog, .clear-night, .partly-cloudy-night {
  position: absolute;
  background-size: 100% 300px;
  width: 100%;
  height: 300px;
  opacity: .5;
  clip-path: polygon(0% 0%, 0% 30%, 25% 100%, 75% 100%, 100% 16%, 100% 0%);
}

.clear-day{

animation: animate 800000s linear infinite; 
background: url("../img/sun.png");
background-size: 100%;
opacity: 1.5;
background-repeat: no-repeat;
clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 75% 100%, 100% 16%, 100% 0%);
  }

.wind{
      background: url("../img/wind.gif"); 
      animation: animate 60s linear infinite;
  }

.partly-cloudy-day{
  background: url("../img/partly-cloudy-day.png");
  animation: animate 600s linear infinite;
  background-size: 700px;
}

.snow{
  background: url("../img/snow2.png");
  animation: snow 100s linear infinite;
}

.sleet{
  background:url("../img/sleet.png");
  animation: snow 5s linear infinite;
  background-size: 10% 300px;
}

.rain{
  background: url("../img/rain.gif");
}

.partly-cloudy-night{ 
  background: url("../img/partly-cloudy-night.png");
  animation: animate 900s linear infinite;
  opacity: .8;
  filter: brightness(1);
  background-size: 500px;
}

.clear-night{
  background: url("https://i.gifer.com/2iiH.gif");
  opacity: .9;
  background-size: 50%;
  animation: animate 2000s linear infinite;
}

.cloudy{
  background: url("../img/cloudy.png");
  animation: animate 2000s linear infinite;
  background-size: 700px;
}

.fog{
  background: url("../img/fog.png");
  animation: animate 300s linear infinite;
  opacity: 1;
}

@keyframes animate { 
0% { background-position: 0px; } 
100% { background-position: -5440px; } 
}

@keyframes snow {
0% {background-position: 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}




































